<p>friend works!</p>
<br>
<br>

<div class="container">
    <div class="border">
        <button class="btn btn-md btn-outline-primary"  >
            <i class="fa fa-user"></i> New Student
        </button>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>MiddleName</th>
                <th>LastName</th>
                <th>Address</th>
                <th>BirthDay</th>
                <th>Score</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let friend of friend">
                <td><span>{{friend.Id}}</span></td>
                <td><span>{{friend.f_name}}</span></td>
                <td><span>{{friend.m_name}}</span></td>
                <td><span>{{friend.l_name}}</span></td>
                <td><span>{{friend.address}}</span></td>
                <td><span>{{friend.birthDate}}</span></td>
                <td><span>{{friend.score}}</span></td>
                <td>
                    <button class="btn btn-sm btn-info">
                        <i id="search" class="fa fa-search"></i>Details
                    </button>
                    <button class="btn btn-sm btn-warning">
                        <i
                        id="edit" class="fa fa-edit"></i>Edit
                    </button>
                    <button class="btn btn-sm btn-danger">
                        <i id="remove" class="fa fa-remove"></i>Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">New friend</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>

        </button>
    </div>

    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="firstname">FirstName</label>
                <div class="input-group">
                    <input id="firstname" class="form-control">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>
